.screenshot_holder {
	background-image: url(assets/time/screenshot_holder_3.png);
	padding-top: 91px;
	height: 244px;
	width: 244px;
	background-repeat: no-repeat;
}

.font_1_screenshot {
	background-image: url(assets/time/font_style_1.png);
	height: 168px;
	width: 144px;
	margin-left: auto;
	margin-right: auto;
}

.font_2_screenshot {
	background-image: url(assets/time/font_style_2.png);
	height: 168px;
	width: 144px;
	margin-left: auto;
	margin-right: auto;
}
.font_3_screenshot {
	background-image: url(assets/time/font_style_3.png);
	height: 168px;
	width: 144px;
	margin-left: auto;
	margin-right: auto;
}
.font_4_screenshot {
	background-image: url(assets/time/font_style_4.png);
	height: 168px;
	width: 144px;
	margin-left: auto;
	margin-right: auto;
}

.multi_code_layout_screenshot {
	background-image: url(assets/time/multi_code_layout.png);
	height: 168px;
	width: 144px;
	margin-left: auto;
	margin-right: auto;
}