.font_1_screenshot {
	background-image: url(assets/og/font_style_1.png);
	height: 168px;
	width: 144px;
}
.font_2_screenshot {
	background-image: url(assets/og/font_style_2.png);
	height: 168px;
	width: 144px;
}
.font_3_screenshot {
	background-image: url(assets/og/font_style_3.png);
	height: 168px;
	width: 144px;
}
.font_4_screenshot {
	background-image: url(assets/og/font_style_4.png);
	height: 168px;
	width: 144px;
}
.multi_code_layout_screenshot {
	background-image: url(assets/og/multi_code_layout.png);
	height: 168px;
	width: 144px;
}